*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(45deg,#2193b0 , #6dd5ed );
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  
}

.box{
  margin-top: 100px;
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  background-color: white;
  border-radius: 2em;

}
.left{
  background: url(img/ceo.svg) no-repeat center;
  height: 100%;
  background-size: cover;
}
.right{
  padding: 45px 45px;
}
input{
  outline: none;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2em;
  background-color: (230,230,230,0.6);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 8px 8px;
}
input:hover{
  background-color: rgb(0,0,0,0.1);
}
input:focus{
  background-color: (230,230,230,0.6) ;
}
button{
  width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
  transition: .3s;
  margin: 10px;
}
@media screen and (max-width: 700px){
	.box{
    grid-template-columns: 1fr;
    
	}
	.left{
    height: 0px;
	}
}